<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-2 px-3" href="#"> TMS </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a   *ngIf="authService.isAuthenticated()" class="nav-link" [routerLink]="['/task']">My Tasks</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.isAuthenticated()" class="nav-link" [routerLink]="['/new']" >Create Task</a>
      </li>
      <li>
        <a *ngIf="authService.isAuthenticated()" class="nav-link"  (click)="logout()">Logout</a>
      </li>
      <li>
        <a *ngIf="!authService.isAuthenticated()" class="nav-link"  [routerLink]="['/login']">Login</a>
      </li>
      <li>
        <a *ngIf="!authService.isAuthenticated()" class="nav-link"  [routerLink]="['/register']">Register</a>
      </li>
      
    
      
    </ul>
    <div *ngIf="authService.isAuthenticated()">
<app-task-search></app-task-search>
  </div>
  </div>
</nav>



<div
class="p-5 bg-image "
style="
  background-image: url('https://images.pexels.com/photos/131616/pexels-photo-131616.jpeg?auto=compress&cs=tinysrgb&w=1600');
  height: 920px;
  background-repeat: no-repeat;
    background-size:  cover;
"
>  <div class="ml-9"><router-outlet></router-outlet></div></div>